@model List<Food>



    @using (Html.BeginForm("Search", "Food", FormMethod.Get))
{
<p>
    Find by name: @Html.TextBox("searchString")
    <input type="submit" value="Search" />
</p>}

    <table class="table table-striped table-dark pagination-lg">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Descrption</th>
            <th>Add To Cart</th>

        </tr>
    </thead>

    @foreach (var food in Model)
    {
<tr>
    <td><a href=/Product/ViewProduct/@food.fdcId>Details</a></td>
    <td>@food.description</td>
    <td>@food.brandOwner</td>
    <td>@food.additionalDescriptions</td>
    <td align="center">
        <a asp-controller="cart" asp-action="buy" asp-route-id="@food.fdcId">BuyNow</a>
    </td>
   
</tr>
}

</table>