@model Food

   @using (Html.BeginForm("Search", "Food", FormMethod.Get))
{
<p>
    Find by name: @Html.TextBox("searchString")
    <input type="submit" value="Search" />
</p>}

<h3 class="text-black">@Model.description </h3>

<table class="table-dark">

    
    <tr>
        <th>Sugar</th>
        <th>Carbohydrates</th>
        <th>fat</th>
        <th>Protein</th>
        <th>Calories</th>
    </tr>
    <tr>
        <td>@Model.labelNutrients.sugars.value</td>
        <td>@Model.labelNutrients.carbohydrates.value</td>
        <td>@Model.labelNutrients.fat.value</td>
        <td>@Model.labelNutrients.protein.value</td>
        <td>@Model.labelNutrients.calories.value</td>
            <td align="center">
        <a asp-controller="cart" asp-action="buy" asp-route-id="@Model.fdcId">AddToCart</a>
    </td>
    </tr>

</table>

<div style="display: block">