@model Food

<h3 class="text-white">@Model.description </h3>

<table class="table-dark">
    <tr>
        <th>Sugar</th>
        <th>Carbohydrates</th>
        <th>fat</th>
        <th>Protein</th>
        <th>On Sale</th>
    </tr>
    <tr>
        <td>@Model.labelNutrients.sugars.value</td>
        <td>@Model.labelNutrients.carbohydrates.value</td>
        <td>@Model.labelNutrients.fat.value</td>
        <td>@Model.labelNutrients.protein.value</td>
        <td>@Model.labelNutrients.calories.value</td>
    </tr>

</table>

<div style="display: block">
    <a class="text-white" href="/Product/UpdateProduct/@Model.fdcId">Add To Cart</a>
</div>

<div style="display: block">